@import './resets';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');



// body{
//   background-color: $background-color;
//   color: $text-color-logo;
// }



.navbar{
  background-color: $light-blue-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem 0.8rem 1rem;
  font-size: large;
  font-family: $font-type-navbar2;
  
  &__logo{
    font-weight: weight(very_bold);
  }
  &__list{
    display:flex;
    padding: 2px;
    list-style: none;
  }
  & a{
    padding: 0.8rem 0.5rem;
    color: $text-color-navbarlinks;
    text-decoration: none;
    &:hover{
      color:black;
    }
  }
}

