@import "./variables";

.products__main {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr 600px 1fr;
  //grid-template-rows: 200px 400px 400px 200px;
  grid-template-areas:
    "sl mc sr"
    "sl mc sr"
    "sl mc sr"
    "sl mc sr"
    "sl mc sr";
}

.emptySpaceLeft {
  display: flex;
  grid-area: sl;
  width: 100%;
}
.emptySpaceRight {
  display: flex;
  grid-area: sr;
  width: 100%;
}
.mainContent {
  display: grid;
  grid-area: mc;
  width: 600px;
}
.categories {
  display: flex;
  height: 40px;
}
.categoryLinks {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: $light-blue-lesser;
}
.categoryLink {
  display: flex;
  padding: 4px;
  font-family: $font-type-navbar2;
  font-weight: weight(regular);
  font-size: font-size(medium);
  color: $text-color-navbarlinks;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
.categoryDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 300px);
  padding: 0px;
  overflow: hidden;
  //border-color: rgb(252, 252, 252);
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-left: 5px;
  border-right: 5px;
}

[class*="ItemContainer-"] {
  max-width: 100%;
  display: grid;
  //grid-gap: 5px;
  margin: 5px;
  border: 5px;
  border-color: rgba(109, 109, 109, 0.336);
  border-style: solid;
  border-width: 0.01px;
  background-color: rgb(247, 247, 247);
  z-index: 1;
  grid-template-areas:
    "I I I I I"
    "I I I I I"
    "I I I I I"
    "N N N N N"
    "P P P P P";
  grid-template-columns: repeat(5, 1fr);
  //grid-template-rows: repeat(4, 100px);
  .ItemImgbox {
    grid-area: I;
    //width: 175px;
    width: 100%;
    height: 200px;
  }
  .ItemName {
    grid-area: N;
    display: flex;
    font-family: $font-type-heading;
    justify-content: center;
  }
  .ItemPrice {
    display: flex;
    grid-area: P;
    font-family: $font-type-heading;
    font-size: small;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .ItemImage {
    //grid-area: I;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
[class*="ItemContainer-"]:hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
